In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2021-04-04 19:34:04,-42.8794,147.3294,53.01,76,32,8.05
1,1,Butaritari,KI,2021-04-04 19:34:05,3.0707,172.7902,81.81,80,100,14.88
2,2,Mitu,CO,2021-04-04 19:34:05,1.1983,-70.1733,78.94,78,100,4.32
3,3,Ushuaia,AR,2021-04-04 19:31:43,-54.8000,-68.3000,48.20,53,40,11.50
4,4,Seoul,KR,2021-04-04 19:30:07,37.5683,126.9778,42.80,87,0,2.30

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable and adjust zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=200, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable and adjust zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity ,dissipating=False, max_intensity=200, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable and adjust zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness ,dissipating=False, max_intensity=200, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed.

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the figure variable and adjust zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,dissipating=False, max_intensity=200, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-04-04 19:34:05,3.0707,172.7902,81.81,80,100,14.88
2,2,Mitu,CO,2021-04-04 19:34:05,1.1983,-70.1733,78.94,78,100,4.32
5,5,Vaini,TO,2021-04-04 19:34:05,-21.2000,-175.2000,77.00,73,20,8.05
10,10,Kalmunai,LK,2021-04-04 19:34:07,7.4167,81.8167,78.67,83,84,4.99
12,12,Kismayo,SO,2021-04-04 19:29:26,-0.3582,42.5454,82.53,80,100,7.40
13,13,Puerto Ayora,EC,2021-04-04 19:33:28,-0.7393,-90.3518,84.20,70,20,17.27
17,17,Oistins,BB,2021-04-04 19:34:09,13.0667,-59.5333,82.40,57,40,14.97
20,20,La Palma,US,2021-04-04 19:34:09,33.8464,-118.0467,79.00,68,75,9.22
24,24,Rikitea,PF,2021-04-04 19:34:10,-23.1203,-134.9692,77.25,68,87,17.20
25,25,Padang,ID,2021-04-04 19:31:57,-0.9492,100.3543,75.20,94,90,2.30

In [15]:
#Check for null values. 
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1     Butaritari      KI     81.81   3.0707  172.7902
2           Mitu      CO     78.94   1.1983  -70.1733
5          Vaini      TO     77.00 -21.2000 -175.2000
10      Kalmunai      LK     78.67   7.4167   81.8167
12       Kismayo      SO     82.53  -0.3582   42.5454
13  Puerto Ayora      EC     84.20  -0.7393  -90.3518
17       Oistins      BB     82.40  13.0667  -59.5333
20      La Palma      US     79.00  33.8464 -118.0467
24       Rikitea      PF     77.25 -23.1203 -134.9692
25        Padang      ID     75.20  -0.9492  100.3543

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.81,3.0707,172.7902,Isles Sunset Lodge
2,Mitu,CO,78.94,1.1983,-70.1733,
5,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
10,Kalmunai,LK,78.67,7.4167,81.8167,VS Villa
12,Kismayo,SO,82.53,-0.3582,42.5454,Agan-Hotel
13,Puerto Ayora,EC,84.20,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Oistins,BB,82.40,13.0667,-59.5333,Butterfly Beach Hotel
20,La Palma,US,79.00,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
24,Rikitea,PF,77.25,-23.1203,-134.9692,Pension Maro'i
25,Padang,ID,75.20,-0.9492,100.3543,Mercure Padang

In [20]:
# Hotel Information Markers 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Assign the marker variable.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

#Add the markers and heatmap layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))